/*for vertion arabic*/
/*search input*/
 .input-group .form-control:first-child 
{
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;

}
.stylish-input-group .input-group-addon
{
      border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}



 .input-group .form-control:first-child 
{
          border-bottom-right-radius: 22px;
          border-top-right-radius: 22px;

}
.stylish-input-group .input-group-addon
{
      border-bottom-left-radius: 22px;
    border-top-left-radius: 22px;
}
 .owl-carousel
{
  direction: ltr;
}
.navbar-right
{
    float: left!important;
}
.pull-left {
    float: right!important;
    }
    /*services home*/
.media.service-box .pull-left
{
  margin-left: 23px;
}
.service-box .pull-left img
{
  margin-right: 16px;
}
/*advertising*/
.product-desc
{
  direction: rtl;
}
.fa-long-arrow-right:before
{
  content: "\f177";
}
.nav-pills > li {
     float: none;
}